.App {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb61d4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiDataGrid-root {
  border: 10px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  padding: 20px;
}
.MuiDataGrid-row:nth-child(even) {
  background-color: #ccefff;
}
.MuiDataGrid-row:nth-child(odd) {
  background-color: #ffebcc;
}
.MuiDataGrid-row:hover {
  background-color: #f7c3fd !important;
}
.MuiDataGrid-toolbarContainer {
  justify-content: center;
}
.MuiDataGrid-cell.Mui-even {
  background-color: #f9ccff;
}
.ag-root-wrapper {
  border: none !important;
}
.ag-pinned-left-cols-container .ag-cell {
  border-right: none !important;
}
.ag-pinned-left-header {
  border-right: none !important;
}
.ag-row:nth-child(even) {
  background-color: #0b4059 !important; /* darker gray */
}
.pinned-header {
  border-right: none !important;
}