body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff3f7;
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    justify-content: center;
  }
}
.dashboard-content {
  flex-grow: 1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: linear-gradient(to right, #fffc47, #9400f7);
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background: linear-gradient(to right, #d447ff, #00eff7);
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}